
body{
    margin: 0;
    text-align: center;
    background-color: #E0EEF6;
    font-family: 'Merriweather', serif;
    color: #40514E;
}
    
h1{
    font-size: 450%;
    margin-top: 0;
    font-family: 'Sacramento', cursive;
    color: #66bfbf;
}

h2{
    font-size: 150%;
    font-family: 'Montserrat', sans-serif;
    color: #66bfbf;
    padding-bottom: 10px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999e;
}

p{
    line-height: 2;
}

hr {
    border: dotted #4c8596 6px;
    border-bottom: none;
    margin: 50px auto;
    width: 6%;
}

a{
    color: #11999e;
    margin: 10px 5px;
    text-decoration: none;
    font-family:  Helvetica, Arial, sans-serif;
}
a:hover{
    color: #E0EEF6;
}

.Profile-pic{
    height: 150px;
    width: 150px;
    border-radius: 100%;

}


.intro{
    width: 30%;
    margin: 0 auto 20px auto;
}

.img-python{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    float: left;
    margin-right: 30px;

}

.img-codesyntax{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    float: right;
    margin-left: 30px;
}
.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container{
    margin: 60px 0;
}

.software{
    text-decoration: underline;
}

.top-cloud{
    position: absolute;
    right: 200px;
    top: 50px;

}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;

}

.contact-message{
    width: 40%;
    margin: 20px auto;
}

.BUTTON_FVS {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 100;
    padding: 15px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_FVS:hover {
    border: solid #337FED 1px;
    background: #A1C2F7;
    background-image: -webkit-linear-gradient(top, #A1C2F7, #0F4887);
    background-image: -moz-linear-gradient(top, #A1C2F7, #0F4887);
    background-image: -ms-linear-gradient(top, #A1C2F7, #0F4887);
    background-image: -o-linear-gradient(top, #A1C2F7, #0F4887);
    background-image: -webkit-gradient(to bottom, #A1C2F7, #0F4887);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

 .bottom-container{
    background-color: #66BFBF;
    padding: 20px 0 10px;
 }

 .copyright{

    font-size: 70%;
    color: #E0EEF6;
 }